<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
</head>
<body>
<div class="container">
    <h1>dd</h1>
    <div class="board_write">
        <form action="/board/register" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Writer</span>
                <input type="text" name="writer" class="form-control" placeholder="Writer">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Content</span>
                <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Images</span>
                <div class="float-end uploadHidden">
                    <button type="button" class="btn btn-primary uploadFileBtn">파일을 추가한다</button>
                </div>
            </div>

            <div class="my-4">
                <div class="float-end">
                    <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 썸네일 영역 -->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">

            </div>
        </div>
    </div>
    <!-- 파일 추가 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">파일을 올리시오</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple="multiple">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">업로드</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">닫는다</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/js/upload.js"></script>

</div>

<script th:inline="javascript">

    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {

        e.stopPropagation()
        e.preventDefault()

        uploadModal.show()
    }, false)

    document.querySelector(".uploadBtn").addEventListener("click", function (e) {

        const formObj = new FormData();

        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files

        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {
            // console.log(result)
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })
    }, false)

    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFiles({uuid, fileName, link}) {

        const str =
            `<div class="card col-4">
                <div class="card-header d-flex justify-content-center">
                    ${fileName}
                    <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)">X</button>
                </div>
                <div class="card-body">
                    <img src="/view/${link}" data-src="${uuid + "_" + fileName}">
                </div>
            </div>`

        uploadResult.innerHTML += str
    }

    const auth = [[${authentication}]]

    const error = [[${errors}]]
    console.log(error)

</script>
</body>
</html>
