<!DOCTYPE html>
<html>
<head>
  <title>Custom 500 Error Page</title>
  <style>
    body {
      background-color: black;
      color: #e3cdcd;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
      font-size: 3em;
      text-shadow: 0 0 10px #c948ed, 0 0 20px #b88e8e, 0 0 30px #d86a6a, 0 0 40px #ff00de;
    }
  </style>
</head>
<body>
<h1>505 ERROR</h1> <br>
<h2>Check your Syntax</h2>
</body>
</html>