body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5fbebb; /* 헤더 배경색 */
    border-bottom: 2px solid #00838f; /* 헤더 경계선 색상 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right img.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.header-right a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff; /* 링크 텍스트 색상 */
    font-size: 18px;
    background: none;
    padding: 10px 15px; /* 패딩 추가 */
    border-radius: 5px; /* 모서리 둥글게 */
    transition: background-color 0.3s, color 0.3s;
}

.header-right a:hover {
    background-color: #5fbebb; /* 배경색 변경 */
    color: #e0f7fa; /* 텍스트 색상 변경 */
}

.container {
    width: 100%;
    max-width: 1000px; /* 최대 너비 설정 */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #00acc1;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[readonly] {
    background-color: #f0f0f0;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00acc1;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00838f;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    font-size: 24px;
    padding: 0 5px; /* 패딩 조정 */
    cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #ffc700;
}
