/* 기본 페이지 스타일 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* 상단 로그인 텍스트 스타일 */
.top-login {
    width: 100%;
    text-align: left;
    padding: 40px;
    box-sizing: border-box;
    font-size: 40px;
    border-bottom: 1px solid #ccc;
}

/* 로그인 컨테이너 스타일 */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

/* 로그인 폼 스타일 */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    width: 350px;
}

/* 로그인 제목 스타일 */
.login-title {
    font-size: 35px;
    margin-bottom: 20px;
}

/* 폼 그룹 스타일 */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

/* 폼 그룹 레이블 스타일 */
.form-group label {
    margin-bottom: 5px;
    font-size: 18px;
}

/* 폼 그룹 입력 스타일 */
.form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* 로그인 버튼 스타일 */
.login-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #87ceeb;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

/* 로그인 버튼 호버 스타일 */
.login-button:hover {
    background-color: #00bfff;
}

/* 카카오톡 로그인 버튼 스타일 */
.kakao-login-button {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    background-color: #f7e600;
    border: none;
    color: #3c1e1e;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    background-image: url("/images/kakao.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
}

/* 카카오톡 로그인 버튼 호버 스타일 */
.kakao-login-button:hover {
    background-color: #e5c900;
}
