<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이 페이지</title>
    <!--    <link rel="stylesheet" href="/resources/static/css/usermypage.css" />-->
    <link rel="stylesheet" th:href="@{/css/usermypage.css}" />
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<!-- 헤더 섹션 -->
<div class="header">
    <div class="header-left"></div>
    <div class="header-right">
        <img
                th:src="@{/uploadprofile/user.jpg}"
                alt="프로필 사진"
                class="profile-img"
        />
        <button id="myPageButton" onclick="customerMyPage()">마이페이지</button>
        <button id="logoutButton" onclick="logout()">로그아웃</button>
    </div>
</div>
<div class="container-wrapper">
    <div class="container">
        <div class="profile-section">
            <h2>프로필</h2>
            <img
                    th:src="@{/uploadprofile/user.jpg}"
                    alt="현재 프로필 사진"
                    class="current-profile-img"
            />
            <form
                    id="profileForm"
                    action="/uploadProfile"
                    method="POST"
                    enctype="multipart/form-data"
            >
                <div class="form-group">
                    <label for="profile_picture">프로필 사진:</label>
                    <input type="file" id="profile_picture" name="profile_picture" />
                </div>
                <button type="submit">저장</button>
            </form>
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" id="id" name="id" th:value="${#authentication.principal.username}" readonly />
            </div>
            <div class="form-group">
                <label for="name">이름:</label>
                <input
                        type="text"
                        id="name"
                        name="name"
                        th:value="${#authentication.principal.customerName}"
                        readonly
                />
            </div>
            <div class="form-group">
                <label for="email">이메일:</label>
                <input
                        type="email"
                        id="email"
                        name="email"
                        th:value="${#authentication.principal.customerEmail}"
                        readonly
                />
            </div>
            <div class="form-group">
                <label for="nickname">닉네임:</label>
                <input
                        type="text"
                        id="nickname"
                        name="nickname"
                        th:value="${#authentication.principal.customerNick}"
                />
            </div>
            <button type="submit">수정</button>
        </div>
    </div>
</div>
</body>
</html>
