<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 가입</title>
    <!-- CSS 파일 링크 -->
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<div class="container">
    <div class="header">고객 회원가입</div>
    <div class="form-wrapper">
        <form id="registerForm" action="/customer/join" method="post">
        <!-- 유저 회원가입 -->
        <div class="form-container" id="user-form">
            <div class="form-left">
                <div class="form-group">
                    <label for="user-cusId">아이디</label>
                    <input type="text" id="user-cusId" name="customerId" />
                </div>
                <div class="form-group">
                    <label for="user-password">비밀번호</label>
                    <input type="password" id="user-password" name="customerPw" />
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="user-confirm-password">비밀번호 확인</label>-->
<!--                    <input-->
<!--                            type="password"-->
<!--                            id="user-confirm-password"-->
<!--                            name="confirm-password"-->
<!--                    />-->
<!--                </div>-->
                <div class="form-group">
                    <label for="user-name">이름</label>
                    <input type="text" id="user-name" name="customerName" />
                </div>
                <div class="form-group">
                    <label for="user-email">이메일</label>
                    <div class="email-group">
                        <input type="text" id="user-email" name="customerEmail" />
                        <span>@</span>
                        <select>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <!-- 필요한 경우 다른 옵션 추가 -->
                        </select>
                    </div>
                </div>
            </div> <!-- end form-left -->
            <div class="form-right">
                <div class="form-group">
                    <label for="user-phone">휴대폰 번호</label>
                    <input type="text" id="user-phone" name="customerPhone" />
                </div>
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" id="nickname" name="customerNick" />
                </div>
                <div class="form-group">
                    <label for="gender">성별</label>
                    <select id="gender" name="customerGender">
                        <option value="male">남자</option>
                        <option value="female">여자</option>
                    </select>
                </div>
            </div> <!-- end form-right -->
        </div> <!-- end form-container -->
            <div class="submit-btn">
                <button type="submit">회원 가입</button>
            </div>
        </form>
    </div> <!-- end wrapper -->
</div> <!--end container -->
<!-- JavaScript 파일 링크 -->
<script src="/js/script.js"></script>
</body>
</html>